<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>70s Movies</title>
</head>
<body>
    <p>
        <a href="">ADDING New Movies</a>
      </p>
      <div class="container">
        <div class="card">
          <p>Card 1</p>
        </div>
        <div class="card">
          <p>Card 2</p>
        </div>
        <div class="card">
          <p>Card 3</p>
        </div>
        <div class="content-display"></div>
        <div class="card">
          <p>Card 4</p>
        </div>
        <div class="card">
          <p>Card 5</p>
        </div>
        <div class="card">
          <p>Card 6</p>
        </div>
        <div class="content-display"></div>
        <div class="card">
          <p>Card 7</p>
        </div>
      </div>
    </div>
</body>
</html>